*{
  margin: 0;
  padding: 0;
}

.first-page{
  background-color: black;
  color:white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  color: white;
  font-size: 30px;
  /* animation: revealtext 2s ease-in-out 1s  1 forwards; */
}

@keyframes revealtext{
  100%{
    color: white;
  }
  
}

